@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .routeHeight{
        height: 86svh;
        border-radius: 10px;
        overflow-y: scroll;
    }
    .navBar{
        display: flex;
        flex-direction: column;
        gap: 0 10px;
    }
    .navText{
        font-size: 18px;
        font-weight: bold;
    }
}

::-webkit-scrollbar{
    background-color: #181818;
}
::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 15px;
}